<a href="https://colab.research.google.com/github/cbprince/MBA_Data_Science_Thesis/blob/main/Import_CSV_from_Google_drive_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sample_data/death-rates-from-disasters.csv')
info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 4 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Entity                                                                    6840 non-null   object
 1   Code                                                                      6150 non-null   object
 2   Year                                                                      6840 non-null   int64
 3   Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Rate)  6840 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 213.9+ KB